@font-face {
  font-family: OpenSans;
  src: url(https://github.com/netology-code/html-2-diploma/blob/49254f5a99cc931a884ff9396cab1b1495830519/sources/fonts/OpenSans-Regular.woff);
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(https://github.com/netology-code/html-2-diploma/blob/49254f5a99cc931a884ff9396cab1b1495830519/sources/fonts/OpenSans-Bold.woff);
  font-weight: 700;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "OpenSans", sans-serif;
  min-width: 360px;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  position: relative;
  text-align: center;
  padding: 28px 0px;
  overflow: hidden;
  font-size: 40px;
  padding-bottom: 97px;
  align-self: stretch;
}

.page-header:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/refs/heads/master/sources/img/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}

.trends {
  width: 100%;
  max-width: 1660px;
  margin-top: 64px;
}

.trends-list {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.trends-item {
  /* max-height: 320px; */
  background-color: black;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 16px 18px;
  min-height: 290px;
}

.content-tags-list {
  list-style-type: none;
  display: flex;
  column-gap: 15px;
  row-gap: 2px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  font-size: 16px;
}

.trends-item-tags {
  margin: 0 0 11px 0;
}

.content-title {
  margin-top: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
  z-index: 1;
  position: relative;
}

.content-title:hover {
  color: #b59f5b;
}

.trends-item-title {
  color: #fff;
  margin: 0;
}

.content-tag {
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.content-tag:hover {
  text-decoration: underline;
}

.trends-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  inset: 0;
}

.trends-item-first::before {
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/refs/heads/master/sources/img/trend1.jpg);
}

.trends-item-second::before {
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/refs/heads/master/sources/img/trend2.jpg);
}

.trends-item-third::before {
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/refs/heads/master/sources/img/trend3.jpg);
}

.trends-item-fourth::before {
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/refs/heads/master/sources/img/trend4.jpg);
}

.trends-item-content {
  border: 3px solid #b59f5b;
  padding: 39px 34px;
  /* margin: 16px 18px; */
  /* width: 100%; */
  margin: 0;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-bar {
  width: clamp(100px, 83vw, 1200px);
  display: flex;
  gap: clamp(100px, 44vw, 526px);
  align-items: center;
  z-index: 1;
  margin: 0 35px;
  padding-left: 35px;
}

.navigation-bar-burger-menu {
  display: none;
  fill: #fff;
}

.nav-menu-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0;
  flex-shrink: 0;
}

.header-content-logo {
  width: 180px;
  display: inline-block;
  position: relative;
  z-index: 2;
  flex-shrink: 0;
}

.nav-menu-list-item {
  z-index: 1;
  font-size: 12px;
}

.nav-menu-list-item-ref {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.nav-menu-list-item-ref:hover {
  text-decoration: underline;
  color: white;
}

.header-content-title {
  z-index: 1;
  color: #fff;
  font-size: 45px;
  line-height: 1.83;
  text-transform: uppercase;
  max-width: 695px;
  margin-top: 97px;
  font-size: 41px;
}

.page-content {
  display: flex;
  max-width: 1200px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  gap: 120px;
}

.main {
  width: 66%;
}

.main-articles-list {
  max-width: 778px;
  display: flex;
  flex-direction: column;
  gap: 57px;
}

.main-articles-list-item {
  display: flex;
}

.main-articles-list-item-ref {
  min-width: 380px;
}

.main-articles-list-item-img {
  width: 100%;
}

.article-info {
  margin-left: 29px;
}

.article-info-content-tags-list {
  list-style-type: none;
  display: flex;
  column-gap: 3px;
  row-gap: 2px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.article-info-content-tag {
  font-size: 14px;
  font-weight: 700;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.article-info-content-tag:hover {
  text-decoration: underline;
}

.article-info-title-content {
  margin-top: 5px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 20px;
  z-index: 1;
  position: relative;
}

.article-info-title-content:hover {
  color: #b59f5b;
}

.article-info-title {
  color: #000;
  text-decoration: none;
  margin-bottom: 32px;
}

.article-info-author {
  font-size: 12px;
  margin-bottom: 46px;
}

.article-info-author-publication-date {
  color: #888;
  margin-right: 11px;
}

.article-info-author-name {
  font-weight: 700;
  font-size: 13px;
}

.article-info-discription {
  font-size: 15px;
  line-height: 1.47;
}

.sidebar {
  width: 273px;
  display: flex;
  gap: 55px;
  flex-direction: column;
}

.section-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 23px;
}

.section-header::after {
  content: "";
  display: block;
  background: #b59f5b;
  height: 3px;
  width: 66px;
  margin: 10px auto 0px auto;
}

.article-info-mini-list {
  display: grid;
  gap: 15px;
}

.article-info-mini-item {
  display: flex;
}

.article-info-mini-item-img {
  width: 70px;
  height: 70px;
  margin-right: 19px;
}

.article-info-mini-item-info-date {
  font-size: 12px;
  color: #888;
  margin: 0;
  display: block;
}

.article-info-mini-item-info-title-ref {
  text-decoration: none;
  color: #000;
}

.article-info-mini-item-info-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.29;
  margin-top: 9px;
}

.article-info-mini-item-info-title:hover {
  color: #b59f5b;
}

.searchbar {
  width: 100%;
  display: flex;
  align-items: center;
}

.searchbar-form {
  display: flex;
  width: 100%;
}

.searchbar-input {
  display: flex;
  flex: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.searchbar-input-field {
  height: 48px;
  border-color: transparent;
  background: #f4f7f6;
  font-size: 13px;
  padding: 0px 18px;
  flex: 1;
}

.searchbar-input-field:focus {
  outline: 1px solid #b59f5b;
}

.searchbar-button {
  border-width: 0;
  background-color: #b59f5b;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  width: 52px;
  height: 52px;
  padding: 0;
  margin: 0;
  background-image: url(https://raw.githubusercontent.com/netology-code/html-2-diploma/49254f5a99cc931a884ff9396cab1b1495830519/sources/images/search.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
}

.searchbar-button:hover {
  background-color: #000;
}

.subscribtion-form-content {
  display: flex;
  flex-direction: column;
}

.subscribtion-form-input {
  height: 48px;
  border-color: transparent;
  background: #f4f7f6;
  font-size: 13px;
  padding: 0px 18px;
  flex: none;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

.action-button {
  border-width: 0;
  background-color: #b59f5b;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  height: 52px;
  width: 100%;
}

.subscribtion-form-input:focus {
  outline: 1px solid #b59f5b;
}

.action-button:hover {
  background-color: #000;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tags-list-container {
  list-style-type: none;
  display: flex;
  column-gap: 3px;
  row-gap: 2px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.tags-list-item {
  border: 3px solid #ededed;
  padding: 8px 14px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  color: #000;
  text-decoration: none;
}

.tags-list-item:hover {
  border-color: #b59f5b;
}

.sidebar-topics-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 23px;
}

.sidebar-topics-header::after {
  content: "";
  display: block;
  background: #b59f5b;
  height: 3px;
  width: 66px;
  margin: 10px auto 0px auto;
}

.topics-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 13px;
}

.topic-list-item {
  padding-bottom: 13px;
  border-bottom: 1px solid #ededed;
}

.topic-list-item-name {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.topic-list-item-name:hover {
  color: #b59f5b;
}

.topic-list-item-amount {
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  vertical-align: super;
}

.our-products {
  max-width: 1200px;
  margin-top: 64px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
}

.goods-item {
  /* width: calc(100% / 3); */
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
}

.goods-item-img {
  max-width: 300px;
}

.goods-content {
  border: 3px solid #b59f5b;
  margin-top: -25px;
  padding: 26px 20px;
  box-sizing: content-box;
  flex-grow: 1;
}

.goods-content-title {
  margin-top: 26px;
  margin-bottom: 8px;
}

.goods-description {
  margin-top: 0;
  margin-bottom: 25px;
}

.goods-item-purchase-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-info {
  font-weight: 700;
}

.price-info-without-discount {
  text-decoration: line-through;
}

.goods-item-purchase-block-button {
  padding: 20px 30px;
}

.main-footer {
  text-align: center;
  max-width: 1200px;
  width: 83%;
  padding-bottom: 41px;
}

.footer-social {
  list-style-type: none;
  column-gap: 3px;
  row-gap: 2px;
  flex-wrap: wrap;
  background: #f4f7f6;
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
  margin-bottom: 61px;
  padding: 40px 0;
}

.footer-social-dribbble {
  background-image: url(https://raw.githubusercontent.com/netology-code/html-2-diploma/49254f5a99cc931a884ff9396cab1b1495830519/sources/images/social/001-dribbble.svg);
  height: 20px;
  width: 20px;
}

.footer-social-pinterest {
  background-image: url(https://raw.githubusercontent.com/netology-code/html-2-diploma/49254f5a99cc931a884ff9396cab1b1495830519/sources/images/social/001-pinterest.svg);
  height: 20px;
  width: 20px;
}

.footer-social-tumblr {
  background-image: url(https://raw.githubusercontent.com/netology-code/html-2-diploma/49254f5a99cc931a884ff9396cab1b1495830519/sources/images/social/003-tumblr.svg);
  height: 20px;
  width: 20px;
}

.copyright-info {
  font-size: 11px;
  color: #999;
  font-weight: 700;
  text-decoration: none;
}

@media (max-width: 1300px) {
  .navigation-bar {
    /* width: clamp(100px, 96vw, 1200px); */
    width: none;
    padding-top: 16px;
    gap: none;
    justify-content: space-around;
  }

  .nav-menu-list {
    display: none;
  }

  .navigation-bar-burger-menu {
    display: block;
    flex-shrink: 0;
  }
}

@media (max-width: 1249px) {
  .page-header:before {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/refs/heads/master/sources/img/banner-bg-tablet.jpg);
  }

  .article-info-title-content {
    margin-bottom: 32px;
  }

  .article-info-author {
    margin-bottom: 30px;
  }

  .page-content {
    margin-top: 50px;
  }

  .trends-item-title {
    font-size: 17px;
  }

  .trends {
    margin-top: 48px;
  }

  .trends-item {
    min-height: 210px;
  }

  .trends-item-content {
    padding: 30px 34px;
  }

  .large-section-header {
    font-size: 18px;
    margin-bottom: 19px;
  }

  .page-header {
    padding-bottom: 80px;
  }

  .header-content-title {
    max-width: 655px;
    margin-top: 75px;
    line-height: 1.5;
    font-size: 41px;
  }

  .header-content-logo {
    width: 158px;
  }

  .trends-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .main-articles-list-item {
    flex-direction: column;
    max-width: 391px;
  }

  .article-info {
    margin-left: 0;
  }

  .page-content {
    gap: 35px;
  }

  .article-info-mini-list {
    gap: 5px;
  }

  .main-articles-list-item-ref {
    margin-bottom: 10px;
  }

  .main-footer {
    width: calc(100% - 2 * 34px);
  }

  .our-products {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media (max-height: 1249px) and (orientation: landscape) {
  .trends-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1059px) {
  .goods-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .goods-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 680px) {
  .page-header {
    height: 514px;
  }

  .header-content-title {
    font-size: clamp(35px, 5vw, 41px);
  }

  .page-header:before {
    background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/refs/heads/master/sources/img/banner-mobile.jpg);
  }

  .trends {
    margin-bottom: 43px;
  }

  .trends-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .page-content {
    align-items: center;
    margin: 0 14px;
    flex-direction: column;
  }

  .main {
    width: 100%;
  }

  .main-articles-list-item-ref {
    min-width: 100%;
  }

  .goods-list {
    justify-content: center;
  }

  .main-footer {
    width: calc(100% - 2 * 14px);
  }

  .header-content-title {
    margin-top: 190px;
  }
}

@media (max-width: 460px) {
  .page-header {
    height: 530px;
    position: relative;
    margin-bottom: 0;
  }

  .header-content-logo {
    position: absolute;
    top: 50%;
    width: 269px;
    transform: translate(-7%, -124%);
  }

  .navigation-bar-burger-menu {
    position: absolute;
    top: 30px;
    right: 17px;
  }

  .navigation-bar {
    width: 100%;
    margin: 0 15px;
    gap: 0;
  }

  .header-content-title {
    font-size: 26px;
    position: absolute;
    top: 50%;
    transform: translate(2%, -61%);
    line-height: 36px;
    margin-top: 75px;
  }

  .trends-item-title {
    font-size: 16px;
  }

  .article-info-content-tags {
    margin-bottom: 16px;
  }

  .article-info-title-content {
    margin-bottom: 19px;
  }

  .article-info-author {
    margin-bottom: 16px;
  }

  .main-articles-list {
    gap: 9px;
  }

  .article-info-author {
    margin-bottom: 22px;
  }

  .navigation-bar-burger-menu {
    align-self: flex-end;
  }

  .trends {
    margin-top: 42px;
  }

  .trends-item {
    min-height: 198px;
  }

  .trends-list {
    gap: 2px;
  }

  .sidebar {
    margin-bottom: 44px;
  }

  .content-title {
    font-size: 18px;
  }

  .trends-item-content {
    padding: 29px 30px;
  }

  .article-info-title-content {
    font-size: 15px;
  }

  .sidebar {
    width: 100%;
    gap: 38px;
  }

  .section-header {
    margin-bottom: 26px;
  }

  .article-info-mini-item-img {
    width: 72px;
    height: 72px;
  }

  .goods-item-img {
    height: 284px;
    object-fit: cover;
  }

  .our-products {
    margin: 0;
  }

  .goods-list {
    gap: 14px;
  }

  .footer-social {
    margin-top: 23px;
    margin-bottom: 37px;
  }

  .large-section-header {
    font-size: 16px;
  }
}

@media (max-height: 640px) and (orientation: landscape) {
  .trends-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pop-up {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up::before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: black;
  opacity: 0.3;
}

.feedback-form {
  position: absolute;
  background: #fff;
  max-width: 391px;
  padding: 54px 30px;
  margin: 0 14px;
}

.feedback-form::before {
  content: "";
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/906f7ee6f65a9aea4b5e0941f1087c12bd4e43ff/sources/svg/form-x.svg);
  background-size: 19px;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, -140%);
}

.selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 18px;
  margin-bottom: 35px;
  background: #f4f7f6;
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/906f7ee6f65a9aea4b5e0941f1087c12bd4e43ff/sources/svg/form-arrows.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.6);
}

.selector:focus {
  outline: 1px solid #b59f5b;
}

textarea,
textarea::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-family: "OpenSans", sans-serif;
}

textarea:focus {
  outline: 1px solid #b59f5b;
}

.radio-buttons {
  margin-bottom: 33px;
  display: flex;
  align-items: center;
  gap: 17px;
}

.radio-button {
  display: flex;
  align-items: center;
}

.radio-button::before {
  content: "";
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/906f7ee6f65a9aea4b5e0941f1087c12bd4e43ff/sources/svg/form-empty-circle.svg);
  background-size: 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 4px;
}

.hidden-radio-button:checked + .radio-button:before {
  background-image: url(https://raw.githubusercontent.com/netology-code/mq-diploma/906f7ee6f65a9aea4b5e0941f1087c12bd4e43ff/sources/svg/form-circle.svg);
}

.feedback-form-area-hint {
  margin-bottom: 12px;
}

.user-feedback {
  resize: none;
  min-height: 132px;
  background: #f4f7f6;
  border-color: transparent;
  padding: 22px;
}

.feedback-form-area {
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

._hiden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.main-articles-list-item:nth-of-type(n + 6) {
  display: none;
}
